@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Jost", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Jost", sans-serif;
}

/* Hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Calendar styles */
.react-calendar__tile--now,
.react-calendar__tile--active {
  border-radius: 25px;
  border: none !important;
}

.react-calendar__tile--active {
  background: #272372;
  color: #fff;
  border: none !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--active:enabled:hover {
  background: #272372;
  border-radius: 9999px;
  color: #fff;
  border: none !important;
}

.calendar-wrapper .react-calendar {
  font-size: 20px !important;
}

.react-calendar {
  font-size: 0.6rem;
}

.profile-active {
  position: relative;
  background-color: #43c17a;
  transition: all 0s ease;
}

.profile-active::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: transparent;
  right: 0;
  top: -20px;
  box-shadow: -5px 5px 0px 5px #43c17a;
  border-bottom-right-radius: 25px;
  transition: all 0s ease;
}

.profile-active::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 15px;
  background: #43c17a;
  right: 0;
  bottom: -10px;
  box-shadow: -5px 0px 0px 5px #43c17a;
  border-radius: 9999px 0 0 9999px;
  transition: all 0s ease;
}

.activeNav {
  position: relative;
  transition: all 0s ease;
}

.activeNav::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: transparent;
  right: 0;
  top: -20px;
  box-shadow: 5px 5px 0px 5px #f4f4f4;
  border-bottom-right-radius: 25px;
  transition: all 0s ease;
}

.activeNav::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: transparent;
  right: 0;
  bottom: -20px;
  box-shadow: 5px -5px 0px 5px #f4f4f4;
  border-top-right-radius: 25px;
  transition: all 0s ease;
}

/* Debugging helper (optional)
* {
  border: 1px solid red;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[list]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[list]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.recharts-wrapper:focus,
.recharts-surface:focus {
  outline: none !important;
}
